<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="http://rawgit.com/d-kochanzhi/cmp-table/master/src/cmp-table.js"></script>
    <script src="../js-array-extensions.js"></script>
</head>

<body>
    <div class=container>
        <div id="app" class="col-md-6 col-md-offset-2">
            <cmp-table title="Original array" v-bind:columns="columns" v-bind:rows="rows"> </cmp-table>
			<br />
			<strong>You can sort values by several columns</strong>
			<div class="textbox" v-for="item in columns">
			  <label>			
				<input type="checkbox" v-bind:value="item.field" v-model="sortDir[item.field]">Asc/Desc</input>
				<input type="checkbox" v-bind:value="item.field" v-model="sortFields[item.field]">				
				{{item.label}}
			  </label>
			</div>	
			{{sortSettings}};
			<br />
			<cmp-table title="SortBy" v-bind:columns="columns" v-bind:rows="sortedData"> </cmp-table>
        </div>
    </div>
<script>

new Vue({
	el:'#app'	,
	data: function () {
        return {   			 
			sortSettings:[],	
			sortDir: [],
			sortFields: [],
            columns: [                       
                        {label: 'Name',field: 'name'},
						{label: 'Type',field: 'type'},
						{label: 'Price',field: 'price'}
            ],			
            rows: [
                  { id: 1, 	name: "John Snow",		type:"Actor",		price:2.5},
				  { id: 2, 	name: "John Due",		type:"Stranger",	price:10},
                  { id: 3, 	name: "Martin D.",		type:"Writer",		price:7},
				  { id: 4, 	name: "Leonardo D.",	type:"Actor",		price:2.6},
                  { id: 5, 	name: "Guest",			type:"Stranger",	price:9 },
            ]
        }
    },
	computed: {	
		sortedData: function(){
			var _self=this;
			this.sortSettings=[];
			Object.keys(this.sortFields).forEach(function(prop){
				if(_self.sortFields[prop]){
					var dir = _self.sortDir[prop];					 
					_self.sortSettings.push((dir?'-':'') + prop);
				}					
			});
			return arrayExt.SortBy(this.rows,this.sortSettings).slice(0);
		}	
	}
});
</script>

	</body>	
</html>